@import url('https://fonts.googleapis.com/css?family=Bitter|Orbitron|Righteous|Exo|Mogra|Tangerine|Acme|OpenSans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {box-sizing: border-box;}
a {text-decoration: none; color: white;}
i {color: white;}
body {background-color: #515A5A;}
.chartWrap {margin: 0 auto; width: 100%; background-color: white; max-width: 1200px;} 
.title {font-family: Acme, serif; font-size: 4vw; text-align: center; padding: 20px 0 5px 0; line-height: 90%;}
.subTitle {font-size: 2.5vw; line-height: 90%;}
.chartFooter {margin: 0 auto; width: 90%; text-align: center; font-size: 1vw; color: blue;}
.footer {position: fixed; bottom: 5px; width: 100%; height: auto; margin-top: 40px; text-align: center; font-family: Acme, serif;  font-size: .8vw;}